body{
    height: 100vh;
}

.map{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
}
 .map, .tile-space{
    background-color: blue;
}
.tile{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.entity-block, .tile-goal{
    border: 1px solid black;
}

.entity-block{
    background-color: brown;
}

.entity-player{
    background-color:green;
}

.tile-goal{
    background-color: red;
}
.tile-wall{
    background-color: gray;
}

.entity-block-goal{
    background-color: purple;
}

