body{
    height: 100vh;
}

.map{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 50%;
    height: 50%;

 
}
.map, .tile-space{
    background-color: blue;
}
.tile{
    width: 100%;
    height: 100%;
}

.entity-block{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    background-color: brown;
}

.entity-player{
    background-color:green;
    z-index: 99;
    
}

.entity-block-goal{
    background-color: darkred;
}
.tile-goal{
    background-color: red;
    border: 1px solid darkred;
}
.tile-wall{
    background-color: gray;
}




